/* src/js/components/SleepTracker.css */
.sleep-container {
  background: linear-gradient(to bottom, #0096FF 30%, white 32%);
  color: white; /* Change text color to white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.sleep-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app-name {
  font-size: 1.5em;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 20px;
}

.home-button, .logout-button {
  text-decoration: none;
  color: white; /* Change button text color to white */
  margin-left: 10px;
  font-size: 1em;
  transition: color 0.3s;
}

.home-button:hover, .logout-button:hover {
  color: #f0f8ff; /* Lighten the hover color */
}

.welcome-message {
  margin-bottom: 20px;
}

.chart-container {
    color: black;
  margin-top: 50px;
}

.log-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.log-button {
  background-color: #0096FF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.log-button:hover {
  background-color: #005f99;
}
